# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

/d6c0d742-e4a3-4b1c-b9be-abf5d703adf9
/3ba21ea2-3ff4-41b6-991e-6bd4d26ab223.data
/index.md
/3ba21ea2-3ff4-41b6-991e-6bd4d26ab223
/499ec04a-5acb-4a03-ad4a-6ae94c19e879
/499ec04a-5acb-4a03-ad4a-6ae94c19e879.data
/d6c0d742-e4a3-4b1c-b9be-abf5d703adf9.data
.idea

/12131
/20574.data
/20716
/26645
/11765.data
/12131.data
/12189.data
/21102
/20574
/21102.data
/20716.data
/15945.data
/15945
/11765
/26645.data
/12189
